@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    font-family: 'Roboto Slab', serif;
}

.redSocial-Facebook {
    color: #094151;
    font-size: 20px;
}

.redSocial-Instagram {
    color: #094151;
    font-size: 20px;
}

.redSocial-Twiter {
    color: #094151;
    font-size: 20px;
}

.redSocial-Facebook:hover {
    color: blue;
}

.redSocial-Instagram:hover {
    color: deeppink;
}

.redSocial-Twiter:hover {
    color: deepskyblue;
}

/******************Barra de Navegacion***************************/

@media screen and (min-width: 0px){
    .letraLogo {
        font-size: 30px;
        font-family: 'Righteous', cursive;
    }

    .letraLogo:after {
        content: 'ISysTec';
    }
}

@media screen and (min-width: 375px){
    .letraLogo {
        font-size: 30px;
        font-family: 'Righteous', cursive;
    }

    .letraLogo:after {
        content: 'ISysTec';
    }
}

@media screen and (min-width: 425px){
    .letraLogo {
        font-size: 30px;
        font-family: 'Righteous', cursive;
    }

    .letraLogo:after {
        content: 'ISysTec';
    }
}

@media screen and (min-width: 768px){
    .letraLogo {
        font-size: 30px;
        font-family: 'Righteous', cursive;
    }

    .letraLogo:after {
        content: 'InnovaSysTec';
    }
}

@media screen and (min-width: 992px){
    .letraLogo {
        font-size: 30px;
        font-family: 'Righteous', cursive;
    }

    .letraLogo:after {
        content: 'InnovaSysTec';
    }
}

.logo {
    width: 50px;
}

.borde-sup {
    margin-top: 10px;
}

.letraNav {
    font-weight: bold;
}

/*******************Footer*************************************/

.detalles_footer {
    background-color: #00aed1;
    color: white;
}

.link_footer {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-underline: none;
}

.link_footer:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-underline: none;
}

.btn-outline-light:hover {
    background-color: #094151;
    border: #094151;
}

.titulos_footer {
    font-weight: bold;
}

.footer_botom {
    background-color: #0098ca;
    font-size: 15px;
}

/*******************Card Services*************************************/

.text-services {
    color: #094151;
    border-bottom: #094151;
}

.linea_de_subrayado {
    width: 300px;
    height: 2px;
    display: inline-block;
    background: #094151;
}


/*******************Nosotros*************************************/

.imagen {
    background-image: url("../img/nosotros.jpg");
    background-position: center;
}

.titulo_nosotros_banner {
    color: white;
}

.texto_nosotros_banner {
    color: white;
}